@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;

}

body{
    min-height: 100vh;
    background: #e6e6e6;
}

.nav-bar{
    height: 60px;
    width: 100%;
    background: rgb(240, 240, 240);
}

.nav-bar ul li{
    display: inline-block;
    padding: 20px;
    list-style: none;
    font-size: 16px;
    margin-top: 4px;
    font-weight: 500;
}
.nav-bar ul{
    margin: auto;
    text-align: center;
}
.nav-bar ul li a{
    text-decoration: none;
    color: #000;
}
.nav-bar ul .active{
    background: #000;
    border-radius: 10px;
    margin-top: 4px;
    margin-bottom: 2px;
    color: #fff;
    height: 50px;
}
.nav-bar ul li a {
    font-size: 20px;
}
.nav-bar ul p{
    text-align: left;
    position: absolute;
    margin-left: 40px;
    padding: 20px;
    font-size: 28px;
    font-weight: 600px;
}
.nav-bar ul p a{
    text-decoration: none;
    color: #000;
}

.profile{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: absolute;
    top:0;
    right:0;
    margin-right: 40px;
}

.profile img{
    height: 100%;
    width: 100%;
    border: 1px solid #666;
    border-radius: 50%;
    position: relative;
}

.note-container{
    height: 900px;
    width: 700px;
    margin: 50px auto ;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.title{
    background: rgb(240, 240, 240);;
    width: 100%;
    resize: none;
    height: 120px;
    border: none;
    padding: 30px;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Poppins',sans-serif;
    letter-spacing: 1px;
    border-radius: 12px 12px 0 0;
}
.title:focus,.note-content:focus{
    outline: none;
}
.note-content{
    margin-top: 10px;
    background: rgb(240, 240, 240);;
    width: 100%;
    resize: none;
    height: 85%;
    border: none;
    padding: 30px;
    font-size: 18px;
    font-family: 'Poppins',sans-serif;
    letter-spacing: 1px;
    border-radius: 0 0 12px 12px;
}
form{
    height: 100%;
    position: relative;
}
.submit{
    padding: 10px;
    background: none;
    border-radius: 0 10px 0 10px;
    cursor: pointer;
    position: absolute;
    top:0;
    right:0;
    width: 100px;
    background: rgb(0, 0, 0);
    color: #fff;
}

.logout{
    left: 10%;
}

.open{
    position: absolute;
    width: 40px;
    cursor: pointer;

}
.fa-folder{
    font-size: 20px;
    cursor: pointer;

}
.open-button{
    
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
}
.fa-heart{
    font-size: 20px;
}
li button{
    font-size: 20px;
    background: none;
    border: none;
}